    <footer class="navbar-bottom">

      <div class="container">

        <div class="col-lg-4">
          
          <h1>Contact</h1>

          <ul class="list-group">
            <li class="list-group-item" style="border:none;">
              <i class="fa fa-phone-square" aria-hidden="true" style="font-size:2em;"><span>    </span><span class="footer_letter">Mobile: (403) 875.9093</span>
              </i>

            </li>

            <li class="list-group-item" style="border:none;">
              <i class="fa fa-phone-square" aria-hidden="true" style="font-size:2em;"><span>    </span><span class="footer_letter">Office: (403) 293.0035  </span>
              </i>

            </li>

            <li class="list-group-item" style="border:none;">
              <i class="fa fa-home" aria-hidden="true" style="font-size:2em;"><span>    </span><span class="footer_letter">48 Saddleback Way NE Calgary, AB T3J 4K4</span>
              </i>
            </li>
            <li class="list-group-item" style="border:none;">
              <i class="fa fa-envelope" aria-hidden="true" style="font-size:2em;"><span>    </span><span class="footer_letter">info@matsgary.ca</span>
              </i>
            </li>
            <li class="list-group-item" style="border:none;">
              <i class="fa fa-clock-o" aria-hidden="true" style="font-size:2em;"><span>    </span><br>
              <span class="footer_letter">Mon - Fri: 8 am - 5 pm (MST) </span><br>
              <span class="footer_letter">Saturday: 9 am - 2 pm (MST) </span>
              </i>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 social-media">
           <h1>Social Media</h1>

          <ul class="list-group">
            <li class="list-group-item" style="border:none;">
              <i class="fa fa-facebook" aria-hidden="true" style="font-size:2em;"><span style="margin-left:30px;"></span><span class="footer_letter"><a href="https://www.facebook.com/MatsGary-United-586870701488559">Facebook</a></span>
              </i>
            </li>
            <!-- <li class="list-group-item" style="border:none;">
              <i class="fa fa-twitter" aria-hidden="true" style="font-size:2em;"><span style="margin-left:20px;"></span><span class="footer_letter"><a href="twitter.com">Twitter</a></span>
              </i>
            </li> -->
            <li class="list-group-item" style="border:none;">
              <i class="fa fa-instagram aria-hidden="true" style="font-size:2em;"><span style="margin-left:20px;"></span><span class="footer_letter"><a href="https://www.instagram.com/matsgaryunited/">Instagram</a></span>
              </i>
            </li>
          </ul>

        </div>

          <div class="col-lg-4 social-media">
           <h1>Matsgary's Homeground</h1>

          <ul class="list-group">
            <li class="list-group-item" style="border:none;"><span class="footer_letter">The Light of Christ Catholic School</span></li>
              
            <li class="list-group-item" style="border:none;"><span class="footer_letter">6270 Saddlehorn Drive NE</span></li>
            <li class="list-group-item" style="border:none;"><span class="footer_letter">Calgary, Alberta T3J 4M5</span></li>

          </ul>

          

        </div>

        <div class="col-md-12">
          <hr>
        </div>

      </div>

    </footer>