    <!-- News 2  -->
    <div class="modal fade" id="programs_traininghard" tabindex="-1" role="dialog" aria-labelledby="news2label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="news2label">MatsGary Training Hard:</h4>
          </div>
          <div class="modal-body">
            
            <p>We started our trials and practices on April 15, 2016, and since we have gained good recognition and new player registration. We are practicing up to 4 days a week. Our players look forward to the training and are gradually improving their skill levels. We take great pride in our players that over this course of time, our players have become more refined and polished players. </p>        

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- NEWS 1  -->
    <div class="modal fade" id="programs_parternsinfo" tabindex="-1" role="dialog" aria-labelledby="news1label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" style="float: right;">X</button> -->
            <h4 class="modal-title" id="news1label" style="clear: both;">MatsGary Training Partners Information:</h4>
          </div>
          <div class="modal-body">
            
            <p>At MatsGary United Soccer Club, we are proud to be partnered with Kidsport and The Canadian Tire Jumpstart Program for those families that require subsidy for our program. Please visit Our Partners tab for more information on both of these programs. </p>  
            <p> We are proud to announce that TD Bank is one of our sponsors. </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- GIRLS/LADIES  -->
    <div class="modal fade" id="programs_ladies" tabindex="-1" role="dialog" aria-labelledby="girlsladieslabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="girlsladieslabel">MatsGary United Girls/ Ladies:</h4>
          </div>
          <div class="modal-body">
            
            <p>MatsGary United Girls/ Ladies have designed summer teaching programs for girls 4-18 which provides a fun environment to learn and develop football skills both individually and in groups. This will be after school soccer practices with accredited coaches. The course will include the following:</p>

            <ul>
              <li>Warm-ups and stretching;</li>
              <li>Technique Training Sessions: 


                <ul>
                  <li style="list-style-type: square;">Passing;</li>
                  <li style="list-style-type: square;">Dribbling;</li>
                  <li style="list-style-type: square;">Shooting;</li>
                  <li style="list-style-type: square;">Attacking;</li>
                  <li style="list-style-type: square;">Defending;</li>
                </ul>

              <li>Fun games to practice techniques; and</li>
              <li>Small-sided Matches and Tournaments.</li>
            </ul>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SCHOOL HOLIDAYS  -->
    <div class="modal fade" id="programs_holidays" tabindex="-1" role="dialog" aria-labelledby="schoolholidayslabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="schoolholidayslabel">SCHOOL HOLIDAYS</h4>
          </div>
          <div class="modal-body">
            
            <p>During school holidays our well dedicated coaches will continue trials and practices in around the communities in NE. The information regarding the trials and practices will be updated asrequired. Our coaches run programs that teach new skills whilst a working on developing existing player talent by using the established International Soccer Professional training guideline and techniques. A full course consists of:</p>

            <ul>
              <li>Warm -Ups and Reaction games;</li>
              <li>Technique Training Sessions: Passing, dribbling, shooting, attacking and defending;</li>
              <li>Fun Games to Practices Techniques; and</li>
              <li>Small Sided Matches and Tournaments.</li>

            </ul>

            <h3>After School and Weekend Courses:</h3>

           <p>After-school and weekend courses run during the school term. We offer weekly sessions to improve the soccer skills, whilst having fun! A full course consists of warm-up, reaction games,technique training sessions of passing, dribbling, shooting, attacking, defending with some small side matches after-school and during the weekends.</p>

           <h3>Residential Trials:</h3>
           <p>The residential trials and practices program is now open from U-4 to U-16 boys and U-4 to U-18 girls of all ability levels with small side matches in highly supervised manner to improve passing, speed of movement, technique and game understanding. Selected players shall be drafted to the team upon registration, for better development and participation in Tournaments bothintercity and provincially.</p>
        

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Kidsport  -->
    <div class="modal fade" id="kidsport_target" tabindex="-1" role="dialog" aria-labelledby="kidsportlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="kidsportlabel">About Kidsport Calgary</h4>
            
          </div>
          <div class="modal-body">
            
                      

            <p>More and more kids are becoming team players every day. They're given the opportunity for happier, healthier lives thanks to KidSport™ and its local sponsors and volunteers. KidSport™ welcomes all new applications and donations so you can be a part of our team.</p>

            <p>We believe that no kid should be left on the sidelines and all should be given the opportunity to experience the positive benefits of organized sports. KidSport provides support to children in order to remove financial barriers that prevent them from playing organized sport.</p>

            <h3>THE COMMUNITIES WE SERVE:</h3>
            <p>KidSport Calgary proudly services Calgary and area.This includes the City of Calgary and the communities located within a 50km radius of Calgary.</p>

            <h3>PLEASE REGISTER HERE:</h3>
            <a href="http://www.kidsportcanada.ca/alberta/calgary/apply-for-assistance/">http://www.kidsportcanada.ca/alberta/calgary/apply-for-assistance/</a>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Jumpstart  -->
    <div class="modal fade" id="jumpstart_target" tabindex="-1" role="dialog" aria-labelledby="jumpstartlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="jumpstartlabel">Jumpstart</h4>
          </div>
          <div class="modal-body">
            
            <p>Participating in sport helps kids develop physical and social skills. It helps build self-esteem. By helping kids get into the game, we’re equipping them with determination. And we’re giving them confidence that will extend beyond practices and games.</p>

            <p>No kid should be left on the sidelines but in Canada 1 in 3 families cannot afford to enroll their kids in organized sports. That’s almost 750,000 kids every year who want to play, but just can’t.</p>

            <p>Jumpstart aims to change that. Across Canada, Jumpstart has over 300 Chapters, which are made up of volunteers from across the Canadian Tire enterprise and local community groups, such as local Parks and Recreation Departments, Boys and Girls Clubs and the YMCA/YWCA, among others.</p>

            <p>Money raised within each Chapter stays within the community and goes directly to help kids participate in sport, dance or other organized physical activities. </p>

            <p>Jumpstart funding helps families that need a financial hand with registration, equipment and/or transportation costs.</p>

            <p>Jumpstart also helps community groups provide high-quality programs for local youth. From developing swimming programs to distributing activity kits filled with equipment, not only are the kids given the chance to participate, but local sport and school programs also benefit from Jumpstart’s help.</p>

            <p>Since 2005, more than 1 million kids between the ages of 4 and 18 have been helped by Jumpstart and that number grows every day.</p>

            <p>How can Jumpstart help those kids dreaming on the sidelines? Sign them up. Suit them up. And get them in the game.</p>

            <h3>PLEASE REGISTER HERE:</h3>
            <a href="http://jumpstart.canadiantire.ca/en/what-we-do/want-to-apply">http://jumpstart.canadiantire.ca/en/what-we-do/want-to-apply</a>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Program and Training Schedules  -->
    <div class="modal fade" id="trainingandschedules_target" tabindex="-1" role="dialog" aria-labelledby="programtrainingscheduleslabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="programtrainingscheduleslabel">Programs and Training Schedules</h4>
          </div>
          <div class="modal-body">
            

            <p>We offer immediate family discounts who wish to enroll more than one child into our programs. Families requiring financial assistance please phone us for more information at (403) 875.9093 or email us at info@MatsGary.ca. </p>

            <p>Our club registration fee is $50 dollars (non-refundable) for the season and is due at the time of registration, at which time club kit will be provided including the jersey, sock's and short's. </p>

            <p>The remainder amount of $300 dollars for the season is to be paid after the player has been asigned to a team. </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Summer Program -->
    <div class="modal fade" id="summer_target" tabindex="-1" role="dialog" aria-labelledby="summerlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="summerlabel">Summer Program</h4>
          </div>
          <div class="modal-body">
            

            <p>During school holidays our well dedicated coaches will continue trials and practices in around the communities in NE. The information regarding the trials and practices will be updated as required. Our coaches run programs that teach new skills while working on developing existing player talent by using the established International Soccer Professional training guideline and techniques. </p>
            <p>A full course consists of:</p>

            <ul style="display:list-item;">

              <li style="margin-left: 20px;">Warm -Ups and Reaction games;</li>
              <li style="margin-left: 20px;">Technique Training Sessions:</li>

                <ul style="margin-bottom:10px;">
                  <li style="margin-left: 50px;color:#000;list-style-type: square;">Passing;</li>
                  <li style="margin-left: 50px;color:#000;list-style-type: square;">Dribbling;</li>
                  <li style="margin-left: 50px;color:#000;list-style-type: square;">Shooting;</li>
                  <li style="margin-left: 50px;color:#000;list-style-type: square;">Attacking; and</li>
                  <li style="margin-left: 50px;color:#000;list-style-type: square;">Defending.</li>
                </ul>


              <li style="display:list-item;margin-left: 20px;color:#000;">Small Sided Matches and Tournaments.</li>

            </ul>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Mini United Course  -->
    <div class="modal fade" id="miniunited_target" tabindex="-1" role="dialog" aria-labelledby="miniunitedcourselabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="miniunitedcourselabel">Mini United Course</h4>
          </div>
          <div class="modal-body">

            <p>Our Mini United Program introduces children to fun soccer based activities that encourage a healthy lifestyle and develops key physical and life skills for early learners.</p>
            <p>Our classes are designed to assist boys and girls age 2 to 5 years to discover the reward of regular structured physical exercise and laying the foundations for fit, active and healthy lives.</p>

            <h3>All sessions incorporate the following early stage development skills:</h3>
            <ul>
              <li>Coordination;</li>
              <li>Agility;</li>
              <li>Confidence; and</li>
              <li>Listening and Communication Skills.</li>

            </ul>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Kids and Youth Program -->
    <div class="modal fade" id="kidsandyouth_target" tabindex="-1" role="dialog" aria-labelledby="kidsandyouthlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="kidsandyouthlabel">Kids and Youth Program </h4>
          </div>
          <div class="modal-body">

            <h3>Residential Trials:</h3>

            <p>The residential trials and practices program is now open from U-4 to U-18 boys and U-4 to U-18 girls of all ability levels with small side matches in highly supervised manner to improve:
             <ul style="margin-bottom:10px;">
              <li>Passing;</li>
              <li>Speed of movement;</li>
              <li>Technique; and</li>
              <li>Game understanding.</li>
             </ul>

              <p>Selected players shall be drafted to the team upon registration, for better development and participation in Tournaments both intercity and provincially.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Men’s Program  -->
    <div class="modal fade" id="mensprogram_target" tabindex="-1" role="dialog" aria-labelledby="mensprogramlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="mensprogramlabel">Men’s Program</h4>
          </div>
          <div class="modal-body">

            <h3>Coming Soon!</h3>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Discipline -->
    <div class="modal fade" id="discipline_target" tabindex="-1" role="dialog" aria-labelledby="discilplinelabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="discilplinelabel">Discipline</h4>
          </div>
          <div class="modal-body">
            <h3>How do sports teach discipline?</h3>
            <p>The link between positive mental attributes and sports has been part of human culture since the earliest civilizations. Discipline, for example, is often associated with the hard work of martial artists and Olympic champions. Exactly how sports build discipline is more complex than you might imagine.</p>

            <h3>Coach Influence</h3>
            <p>A sports coach can have a powerful influence on a child's life, potentially more than parents and teachers. During practice, a coach is in a position to demonstrate the value of continued focus, delayed gratification and vigorous effort even when it's hard. In competition, the student can see in real time the positive results of following coach's instructions. </p>

            <h3>Feedback</h3>
            <p>Unlike many other youth activities, sports can provide instant feedback about how effective a choice was. A student athlete who practices instead of playing video games will improve faster than one who makes the opposite decision. </p>

            <h3>Goals in Context</h3>
            <p>Discipline is one of the most effective tools people can use to reach their goals. Sports provide a vivid demonstration of how applying will and discipline during practice can help an athlete reach its goals in competition.</p>

            <h3>Relevant Motivation</h3>
            <p>One problem with kids' performance at school work or chores is simple motivation. It's difficult to work on cleaning a room or studying for a test with discipline when a child can't see the immediate benefit of the work. Sports, again because of the vivid and often immediate rewards of pushing hard, teach the value of discipline.</p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Punctuality -->
    <div class="modal fade" id="punctuality_target" tabindex="-1" role="dialog" aria-labelledby="punctialitylabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="punctialitylabel">Punctuality</h4>
          </div>
          <div class="modal-body">
            <h3>What It Communicates?</h3>
            <p>Punctuality communicates a plethora of positives to your coach and your peers. It shows that you're dedicated to your team, interested in playing and capable of handling responsibility. When you arrive on time for practice or games, it shows that you are capable of honoring your word. </p>

            <h3>What It Achieves?</h3>
            <p>When players are punctual, the team operates more smoothly as a whole. For instance, when everyone is on time for a practice or a game, it’s able to start in full stride. </p>

            <h3>Personal Effects</h3>
            <p>Lateness leads to stress, and stress leads to poor team performance. Being consistently late may cause you to start rationalizing your lateness. When this happens, you begin to blame outside circumstances and lose focus on potential solutions. Constant lateness can lock you into a pattern. When tardiness becomes the norm, your performance might be in jeopardy.  </p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sportsmanship -->
    <div class="modal fade" id="sportsmanship_target" tabindex="-1" role="dialog" aria-labelledby="sportsmanshiplabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="sportsmanshiplabel">Sportsmen Spirit</h4>
          </div>
          <div class="modal-body">
            
            <p>Life is full of failures and successes but it’s up to us to decide how we perceive the outcome as well as our identity. When we play a game, say soccer we are bound to lose or win. Sportsman spirit is the act of accepting one’s success with humility. This type of policy helps us to cope with failures and disappointments that come our way and to make renewed and challenging efforts to achieve success next time. But at the same time, we will develop the way to concentrate and try to win the next game. At such situations, we learn to accept defeat gracefully.</p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- About Us Section -->

    <!-- Why MatsGary? -->
    <div class="modal fade" id="whymatsgary_target" tabindex="-1" role="dialog" aria-labelledby="whymatsgary" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="whymatsgary">Why MatsGary?</h4>
          </div>
          <div class="modal-body">
            
           <p>MatsGary United Soccer Club is a non-profitable community based and funded soccer club in the city of Calgary.
           We provide players a premium professional soccer development, including recreational and other forms of competitive soccer programs.
           Our accredited and passionate coaches, strive to enhance our players social interaction, spatial awareness and decision making skills.
           MatsGary United has shown that kids can improve their memory and awareness due to our tailored programs.
           We strive in equality as such our platform encourages kids of all cultures and race to aspire so as to inspire others tomorrow.
           Our highly dedicated coaches understand how to bring the best out of our players while laying a foundation for active and healthy lives.
           In addition we assist in developing key physical and life skills in early learners.
           As we are a premium soccer club in Greater Calgary Area, we provide our players with an exposure to compete both Nationally and Internationally.
           We conduct our programs in a professional manner with a highest regard to safety.
           We apply compassion, understanding and carefulness while dealing with the players and their families.</p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- VISION AND MOTO -->
    <div class="modal fade" id="visionmoto_target" tabindex="-1" role="dialog" aria-labelledby="visionmoto" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="visionmoto">VISION AND MOTO:</h4>
          </div>
          <div class="modal-body">

            <h3>VISION:</h3>
            <p>Our vision is to provide children in greater Calgary area, a premium professional soccer development and training.</p>

            <h3>MOTO:</h3>
            <p>“Either Win or Learn”</p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- PHILOSOPHY -->
    <div class="modal fade" id="philosophy_target" tabindex="-1" role="dialog" aria-labelledby="philosophy" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="philosophy">PHILOSOPHY:</h4>
          </div>
          <div class="modal-body">

            <h3 style="margin-top:20px;"> ATTITUDE:  </h3>

            <p>In still in our players an attitude to progress to one’s fullest potential. This is vital so our players can excel both on and off field. We train our players to master the skills of positivity and dedication. Also, to maintain professional composure while under pressure.</p>

            <h3> RESPECT:  </h3>

            <p>It is vital to respect ones teammates, the opponents, the coaches, the referees, the staff and volunteers. We teach the players the importance of appreciating everyone. Our players are taught not to underrate an opponent and their potential. Underestimating someone or an opponent can make one’s own standard fall below expectation. Soccer must be played in the sprit of fair play, encouragement and fun. We encourage our players to take advise from our coaches to help improve their game. Self-respect is key to develop both as a player and a person.</p>

            <h3> SKILLS:  </h3>

            <p>We believe that skills and techniques are essential to inspire creativity, flair, excitement and entertainment. Skills can help make soccer fun, help improve as a player and be part of the winning team. We teach our players to be innovative in the usage, movement and basic skills of controlling and passing of the soccer ball.</p>

            <h3> ENERGY:  </h3>
            <p>We teach our players how to conserve energy in order to get the best out of playing time. The longer a player can maintain a high level of fitness the more it benefits the player in game. When a player is not as fit it becomes difficult to play to the required potential as such we teach our players on how to main a healthy diet.</p>

            <h3> NEW THINKING:  </h3>
            <p>We teach our players to embrace their coaches idea’s and always think of different ways so one can improve tactically and technically. We encourage our players to be creative with their thoughts and express and demonstrate it one the field.</p>

            <h3> ALL FOR ONE:  </h3>
            <p>As much as the players work on their personal development, soccer is a team game. The more you work with your teammates the better you will become as a player and a team. MatsGary United Soccer Club believes that no matter who you are or where you're from soccer is a game that can be played by everyone. We encourage our players to enjoy the feeling of belonging and do all one can to help the teammates.</p>

            <h3> LEARNING:  </h3>
            <p>Learn how to play MatsGary United’s way. Our style of game is based on passing, movements, technique and skills. We are incorporating the principles of fair paly, teamwork, expression and fun. </p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- OBJECTIVES -->
    <div class="modal fade" id="objectives_target" tabindex="-1" role="dialog" aria-labelledby="objectives" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="objectives">OBJECTIVES:</h4>
          </div>
          <div class="modal-body">

         

            <ul style="list-style-type: circle;margin-left:50px;">
              <li>To provide recreational, and a competitive soccer program by passionate and an accredited coach;</li>
              <li>To provide an environment to develop proper soccer skills enabling highest potential of success and healthy lifestyle;</li>
              <li>To instill confidence and discipline through our program to mold the leaders of the future; and</li>
              <li>To conduct the program in a professional manner with the highest regard to safety. </li>
            </ul>

            <h3>We will apply:</h3>

            <ul style="list-style-type: circle;margin-left: 50px;">
              <li> compassion;</li>
              <li>understanding; and </li>
              <li>carefulness while dealing with the players and their families.</li>
            </ul>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ADVANTAGES -->
    <div class="modal fade" id="advantages_target" tabindex="-1" role="dialog" aria-labelledby="advantages" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="advantages">ADVANTAGES:</h4>
          </div>
          <div class="modal-body">

            <ul style="list-style-type: circle;">
              <li>Simple & Something for Everyone;</li>
              <li>Teaches Work Ethic and Leadership on and off the field;</li>
              <li>Teaches Sportsmanship and Perseverance; and</li>
              <li>Contributes towards Good Fitness and enhances Social Skills.</li>
            </ul>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOARD MEMBERS -->
    <div class="modal fade" id="board_target" tabindex="-1" role="dialog" aria-labelledby="board" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="board">BOARD MEMBERS:</h4>
          </div>
          <div class="modal-body">

            <h3>TONY MATHIAS </h3>
            <p style="color:#000;font-size:14px;">President/ Technical Director</p>

            <p style="font-size:14px;font-style: italic;">Chief Coach Tony, has played competitive soccer in Nigeria, South Africa & Calgary, Canada. He has a strong passion for the game of soccer. He is an accredited coach who is dedicated on guiding many young soccer players in achieving their full potential. Coach Tony, has won Gold & Silver Medals with previously managed teams with Calgary Minor Soccer Association (CMSA) in the Indoor League. Currently, he is attending the Provincial Coaching Course, hence his main objective is to develop tomorrow's stars. Coach Tony, has helped kids develop social interaction, spatial awareness & decision making skills. As his experience has shown that sports help improve kid’s memory & awareness.</p>

            <h3>FAZAL REHMAN</h3>
            <p style="color:#000;font-size:14px;">Vice President/ Secretary</p>

            <p style="font-size:14px;font-style: italic;">Fazal is in business development and holds experience in various business industries. Fazal has passion for the game and had played soccer in his youth for Community Soccer Associations. Fazal also serves on various community boards.</p>

            <h3>REBECCA MATHIAS</h3>
            <p style="color:#000;font-size:14px;">Treasurer</p>

            <p style="font-size:14px;font-style: italic;">Rebecca is a dedicated community servant. She has served in various community projects in Canada and oversees. Rebecca has served the Senior Citizens of Calgary through a program by City of Calgary. She has won various awards with the City of Calgary due to her dedication, passion, reliability and life saving efforts.</p>

            <h3>SUMBAL AZIZ</h3>
            <p style="color:#000;font-size:14px;">Event Coordinator</p>

            <p style="font-size:14px;font-style: italic;">Sumbal is our newest board member and comes with extensive experience of volunteering. She is great with kids and is level 1 Certified Child Care Provider. Sumbal will be our events coordinator and will be responsible for various initiatives in this capacity. </p>

            <h3>FRANCIS PADRON</h3>
            <p style="color:#000;font-size:14px;">IT and Marketing</p>

            <p style="font-size:14px;font-style: italic;">I have great passion for soccer, specially when I work with my team to come up with a plan to score a goal, It gives me thrill and excitement. My IT and Marketing skills have allowed me to bridge my two passions of soccer, IT and Marketing together.</p>

            <h3>ZOILON DEL ROSARIO</h3>
            <p style="color:#000;font-size:14px;">Coaching Coordinator</p>

            <p style="font-size:14px;font-style: italic;">At a very young age, caoch Zoi has always been involved in athletic activities not to mention, soccer and football where he excels the most. He has stepped foot in the field with the top tier leagues in the Philippines and Canada. His passion for soccer is what drives him to be keen and smart on the field. Due to his competitive nature he is perfect in specializing for skills training which is the basics of soccer.</p>

            


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- COMING SOON -->
    <div class="modal fade" id="comingsoon_target" tabindex="-1" role="dialog" aria-labelledby="comingsoon" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="comingsoon">DONATIONS:</h4>
          </div>
          <div class="modal-body">

          <h3>COMING SOON!</h3>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
