    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="padding: 0px 0px;">
        <div class="row logo">

          <div class="col-lg-12" id="logo-header">
              
            <img src="assets/img/logof.png" alt="matsgary" class="img-responsive"/>
          </div>
          
        </div>


        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        

        <div class="row">
          <div class="col-lg-12" style="width: 100%;padding:0px 0px;">
              <div class="banner">
                  <img src="assets/img/logof.png" alt="matsgary" class="img-responsive"/>
              </div>
          </div>
        </div>
            <div class="collapse" id="navcol-1">

                <ul class="nav navbar-nav nav-justified" style="padding: 0px 0px;width: 100%;margin: 0 auto;">
                  <li class="active" style="border:1px solid #1E294B;background: #1E294B;"><a href="/" style="background: #1E294B;">HOME</a></li>

                  <li class="main" style="border:1px solid #1E294B;background: #1E294B;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: #1E294B;">OUR PARTNERS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="#"  data-toggle="modal" data-target="#kidsport_target" style="background: #1E294B;">KIDSPORT</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#jumpstart_target" target="_blank" style="background: #1E294B;">JUMPSTART</a></li>
                    </ul>
                  </li>

                  <li class="dropdown" style="border:1px solid #1E294B;background: #1E294B;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: #1E294B;">PROGRAMS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#trainingandschedules_target" style="background: #1E294B;">PROGRAMS AND TRAINING SCHEDULES</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#miniunited_target" style="background: #1E294B;">MINI UNITED COURSE</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#kidsandyouth_target" style="background: #1E294B;">KIDS AND YOUTH POROGRAM</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#mensprogram_target" style="background: #1E294B;">MENS PROGRAM</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#programs_ladies" style="background: #1E294B;">GIRLS/LADIES PROGRAM</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#summer_target" style="background: #1E294B;">SUMMER PROGRAM</a></li>
                    </ul>
                  </li> 

                  <li class="dropdown" style="border:1px solid #1E294B;background: #1E294B;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: #1E294B;">REGISTRATION <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="web/coc.html?matsgaryCOC.pdf" target="_blank" style="background: #1E294B;">MATSGARY CODE OF CONDUCT</a></li>
                      <li class="dropdown"><a href="web/viewer.html?Register.pdf" target="_blank" style="background: #1E294B;">MATSGARY REGISTRATION FORM</a></li>
                    </ul>
                  </li>

                  <li class="" style="border:1px solid #3B5E88;background: #3B5E88;"><a href="/Schedule" class="dropdown-toggle" style="background: #3B5E88;">SCHEDULE</a></li>

                  <li class="" style="border:1px solid #3B5E88;background: #3B5E88;"><a href="" class="dropdown-toggle" style="background: #3B5E88;" data-toggle="modal" data-target="#comingsoon_target">DONATIONS</a></li>

                  <li class="" style="border:1px solid #3B5E88;background: #3B5E88;"><a href="/AboutUs" class="dropdown-toggle" style="background: #3B5E88;">ABOUT US<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#whymatsgary_target" style="background: #3B5E88;">WHY MATSGARY</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#visionmoto_target" style="background: #3B5E88;">VISION AND MOTO</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#philosophy_target" style="background: #3B5E88;">PHILOSOPHY</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#objectives_target" style="background: #3B5E88;">OBJECTIVES</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#advantages_target" style="background: #3B5E88;">ADVANTAGE OF SOCCER</a></li>
                      <li class="dropdown"><a href="#" data-toggle="modal" data-target="#board_target" style="background: #3B5E88;">BOARD MEMBERS</a></li>
                    </ul>
                  </li>

                  <li class="" style="border:1px solid #3B5E88;background: #3B5E88;"><a href="/Contact" class="dropdown-toggle" style="background: #3B5E88;">CONTACT US</a></li>
                </ul>
                

            </div>
        </div>
    </nav>