<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matsgary - About Us</title>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

    <link rel="stylesheet" href="assets/angular-material/angular-material.min.css">
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular-animate/angular-animate.js"></script>
    <script src="assets/angular-aria/angular-aria.min.js"></script>
    <script src="assets/angular-material/angular-material.min.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/carousel.css">
    
    <link rel="stylesheet" href="assets/css/styles.css">
 

    
</head>

<body ng-app="MyApp" style="padding: 0px 0px;">

  <div id="main" style="width:100%; margin:200px auto;padding-right:0px;"> <!-- untill bottom -->



    <%- include partials/nav.ejs %>
    <%- include partials/modals.ejs %>

  <section>

    <div class="news">

      <div class="col-xs-12 news_bg" style="margin-bottom: 20px;">
        <img src="assets/img/LOGO.png" class="img-responsive">
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          
          <h1 style="word-spacing: 0px;"> Why MatsGary? </h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
           <p>MatsGary United Soccer Club is a non-profitable community based and funded soccer club in the city of Calgary.
           We provide players a premium professional soccer development, including recreational and other forms of competitive soccer programs.
           Our accredited and passionate coaches, strive to enhance our players social interaction, spatial awareness and decision making skills.
           MatsGary United has shown that kids can improve their memory and awareness due to our tailored programs.
           We strive in equality as such our platform encourages kids of all cultures and race to aspire so as to inspire others tomorrow.
           Our highly dedicated coaches understand how to bring the best out of our players while laying a foundation for active and healthy lives.
           In addition we assist in developing key physical and life skills in early learners.
           As we are a premium soccer club in Greater Calgary Area, we provide our players with an exposure to compete both Nationally and Internationally.
           We conduct our programs in a professional manner with a highest regard to safety.
           We apply compassion, understanding and carefulness while dealing with the players and their families.</p>
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> Vision Behind the Name of MatsGary: </h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
           <ul style="list-style-type: circle;margin-left: 50px;">
            <li>MatsGary United Soccer Club is one of the premium soccer clubs in the city of Calgary. This club will provide its players an exposure to compete not only at a National but also at an International Level.</li>
            <li>MatsGary United’s first half of the name of Mats represents not only and idea but affiliation with its overseas partners such as Atlantic Sports.</li>
            <li>Mats is also derived from Mathias in Greek which means, "Gift of Humanity. This highlights our duty to the community and society in general. Gary was derived from City of Calgary. We chose it as our duty to provide the community of this great city with all that is good.</li>
          </ul>
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> VISION:  </h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
          <p>Our vision is to provide children in greater Calgary area, a premium professional soccer development and training.</p>
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> MOTO:  </h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
          <p>“Either Win or Learn”</p>
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> PHILOSOPHY:  </h1>
        </div>
        <div class="col-sm-12 philosophy" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">

            <h1 style="margin-top:20px;"> ATTITUDE:  </h1>

            <p>In still in our players an attitude to progress to one’s fullest potential. This is vital so our players can excel both on and off field. We train our players to master the skills of positivity and dedication. Also, to maintain professional composure while under pressure.</p>

            <h1> RESPECT:  </h1>

            <p>It is vital to respect ones teammates, the opponents, the coaches, the referees, the staff and volunteers. We teach the players the importance of appreciating everyone. Our players are taught not to underrate an opponent and their potential. Underestimating someone or an opponent can make one’s own standard fall below expectation. Soccer must be played in the sprit of fair play, encouragement and fun. We encourage our players to take advise from our coaches to help improve their game. Self-respect is key to develop both as a player and a person.</p>

            <h1> SKILLS:  </h1>

            <p>We believe that skills and techniques are essential to inspire creativity, flair, excitement and entertainment. Skills can help make soccer fun, help improve as a player and be part of the winning team. We teach our players to be innovative in the usage, movement and basic skills of controlling and passing of the soccer ball.</p>

            <h1> ENERGY:  </h1>
            <p>We teach our players how to conserve energy in order to get the best out of playing time. The longer a player can maintain a high level of fitness the more it benefits the player in game. When a player is not as fit it becomes difficult to play to the required potential as such we teach our players on how to main a healthy diet.</p>

            <h1> NEW THINKING:  </h1>
            <p>We teach our players to embrace their coaches idea’s and always think of different ways so one can improve tactically and technically. We encourage our players to be creative with their thoughts and express and demonstrate it one the field.</p>

            <h1> ALL FOR ONE:  </h1>
            <p>As much as the players work on their personal development, soccer is a team game. The more you work with your teammates the better you will become as a player and a team. MatsGary United Soccer Club believes that no matter who you are or where you're from soccer is a game that can be played by everyone. We encourage our players to enjoy the feeling of belonging and do all one can to help the teammates.</p>

            <h1> LEARNING:  </h1>
            <p>Learn how to play MatsGary United’s way. Our style of game is based on passing, movements, technique and skills. We are incorporating the principles of fair paly, teamwork, expression and fun. </p>
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> OBJECTIVES:  </h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">

            <ul style="list-style-type: circle;margin-left:50px;">
              <li>To provide recreational, and a competitive soccer program by passionate and an accredited coach;</li>
              <li>To provide an environment to develop proper soccer skills enabling highest potential of success and healthy lifestyle;</li>
              <li>To instill confidence and discipline through our program to mold the leaders of the future; and</li>
              <li>To conduct the program in a professional manner with the highest regard to safety. </li>
            </ul>

            <h3>We will apply:</h3>

            <ul style="list-style-type: circle;margin-left: 50px;">
              <li> compassion;</li>
              <li>understanding; and </li>
              <li>carefulness while dealing with the players and their families.</li>
            </ul>

          
        </div>
      </div>

      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header">ADVANTAGES:</h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
          <ul style="list-style-type: circle;margin-left: 50px;">
            <li>Simple & Something for Everyone;</li>
            <li>Teaches Work Ethic and Leadership on and off the field;</li>
            <li>Teaches Sportsmanship and Perseverance; and</li>
            <li>Contributes towards Good Fitness and enhances Social Skills.</li>
          </ul>
        </div>
      </div>


<!--       <div class="row" style="width:100%; margin:0 auto; padding-top:80px;">
        <div class="col-lg-12">
          <h1>MISSION</h1>
        </div>

        <div class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
          <p>What is vision brief detailsa.What is vision brief detailsaWhat is vision brief detailsaWhat is mission brief detailsa What is mission brief detailsaWhat is mission brief details</p>
        </div>
      </div> -->





<!--       <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
          <h1> ABOUT US:  </h1>
        </div>
        <div class="col-xs-12 news_bg">
          <img src="assets/img/LOGO.png" class="img-responsive">
        </div>
        <p class="col-sm-12" style="font-family: Arial, Helvetica, sans-serif; line-height: 30px;font-size: 14px;">
          MatsGary United Soccer Club is a non-profitable community based and funded soccer club in the city of Calgary.
          We provide players a premium professional soccer development, including recreational and other forms of competitive soccer programs. 
          Our accredited and passionate coaches, strive to enhance our players social interaction, spatial awareness and decision making skills.
          MatsGary United has shown that kids can improve their memory and awareness due to our tailored programs.
          We strive in equality as such our platform encourages kids of all cultures and race to aspire so as to inspire others tomorrow.
          Our highly dedicated coaches understand how to bring the best out of our players while laying a foundation for active and healthy lives.
          In addition we assist in developing key physical and life skills in early learners.
          As we are a premium soccer club in Greater Calgary Area, we provide our players with an exposure to compete both Nationally and Internationally.
          We conduct our programs in a professional manner with a highest regard to safety.
          We apply compassion, understanding and carefulness while dealing with the players and their families.
        </p>
      </div> -->




    </div>

<!--     <div class="sponsors">
      <div class="row">
        <div class="col-lg-12">
          <h1>SPONSORS :</h1>
        </div>
        <div class="col-xs-12 sponsors_bg">
          <img src="assets/img/td.png" class="img-responsive">
        </div>
      </div>
    </div> -->

    <div class="coaches">
      <div class="row" style="width:100%; margin:0 auto; padding-top:0px;">

          <!-- <div class="col-lg-12">
            <h1>BOARD OF DIRECTORS</h1>
          </div> -->

          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>Tony Mathias</h3>
                <p style="color:#fff;font-size:14px;">President/ Technical Director</p>
               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Tony">
                      <md-content class="md-padding">
                        
                        <p style="font-size:14px;font-style: italic;">Chief Coach Tony, has played competitive soccer in Nigeria, South Africa & Calgary, Canada. He has a strong passion for the game of soccer. He is an accredited coach who is dedicated on guiding many young soccer players in achieving their full potential. Coach Tony, has won Gold & Silver Medals with previously managed teams with Calgary Minor Soccer Association (CMSA) in the Indoor League. Currently, he is attending the Provincial Coaching Course, hence his main objective is to develop tomorrow's stars. Coach Tony, has helped kids develop social interaction, spatial awareness & decision making skills. As his experience has shown that sports help improve kid’s memory & awareness.</p>
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>FAZAL REHMAN</h3>
                <p style="color:#fff;font-size:14px;">Vice President/ Secretary</p>

               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Fazal">
                      <md-content class="md-padding">
                        
                        <p style="font-size:14px;font-style: italic;">Fazal is in business development and holds experience in various business industries. Fazal has passion for the game and had played soccer in his youth for Community Soccer Associations. Fazal also serves on various community boards.</p>
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>





          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>REBECCA MATHIAS</h3>
                <p style="color:#fff;font-size:14px;">Treasurer</p>
               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Rebecca">
                      <md-content class="md-padding">
                        
                       <p style="font-size:14px;font-style: italic;">Rebecca is a dedicated community servant. She has served in various community projects in Canada and oversees. Rebecca has served the Senior Citizens of Calgary through a program by City of Calgary. She has won various awards with the City of Calgary due to her dedication, passion, reliability and life saving efforts.</p>
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>


          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>SUMBAL AZIZ</h3>
                <p style="color:#fff;font-size:14px;">Event Coordinator</p>
               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Sumbal">
                      <md-content class="md-padding">
                        
                        <p style="font-size:14px;font-style: italic;">Sumbal is our newest board member and comes with extensive experience of volunteering. She is great with kids and is level 1 Certified Child Care Provider. Sumbal will be our events coordinator and will be responsible for various initiatives in this capacity. </p>
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>


          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>FRANCIS PADRON</h3>
                <p style="color:#fff;font-size:14px;">IT and Marketing</p>
               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Francis">
                      <md-content class="md-padding">
                        
                        <p style="font-size:14px;font-style: italic;">I have great passion for soccer, specially when I work with my team to come up with a plan to score a goal, It gives me thrill and excitement. My IT and Marketing skills have allowed me to bridge my two passions of soccer, IT and Marketing together.</p>
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>


          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">

              <div class="caption">

                <h3>ZOILON DEL ROSARIO</h3>
                <p style="color:#fff;font-size:14px;">Coaching Coordinator</p>
               
              </div>

              <hr>

              <div class="tabsdemoDynamicHeight" ng-cloak="">
                <md-content>
                  <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="About Zoilon">
                      <md-content class="md-padding">
                        
                        <p style="font-size:14px;font-style: italic;">At a very young age, caoch Zoi has always been involved in athletic activities not to mention, soccer and football where he excels the most. He has stepped foot in the field with the top tier leagues in the Philippines and Canada. His passion for soccer is what drives him to be keen and smart on the field. Due to his competitive nature he is perfect in specializing for skills training which is the basics of soccer.</p>
                        
                      </md-content>
                    </md-tab>
                    <!-- <md-tab label="two">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Two</h1>
                        <p>Lorem ipsum dolor </p>
                      </md-content>
                    </md-tab>
                    <md-tab label="three">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>
                        <p>Integer turpis erat, porttitor </p>
                      </md-content>
                    </md-tab> -->

                  </md-tabs>
                </md-content>
              </div>
            </div>
          </div>




      </div>

    </div>

  </section>

  <%- include partials/footer.ejs %>   


    
  <a href="javascript:" id="return-to-top" style="background:#FF4500;"><i class="fa fa-chevron-up" aria-hidden="true"></i>
  </a>

</div>



<script type="text/javascript">

(function($) {
    var $window = $(window),
        $html = $('html');

    function resize() {
        if ($window.width() > 767) {
            // return $html.addClass('mobile');
            $("li").addClass("dropdown");
            $("#navbar-collapse-1").removeClass("collapse");
        } else {
          // $html.removeClass('dropdown');
          
          $("li").removeClass("dropdown");
          $("#navbar-collapse-1").addClass("collapse");
          // $("#navbar-collapse-1").removeClass("collapse");
        }

        
    }

    $window
        .resize(resize)
        .trigger('resize');
})(jQuery);

(function($){
  $(document).ready(function(){
    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
      event.preventDefault(); 
      event.stopPropagation(); 
      $(this).parent().siblings().removeClass('open');
      $(this).parent().toggleClass('open');
    });
  });
})(jQuery);

  // $(document).ready(function(){

  // }
  // ===== Scroll to Top ==== 
  $(window).scroll(function() {
  if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
  $('#return-to-top').fadeIn(200);    // Fade in the arrow
  } else {
  $('#return-to-top').fadeOut(200);   // Else fade out the arrow
  }
  // $('.banner').css("display", "none");
  });
  $('#return-to-top').click(function() {      // When arrow is clicked
  $('body,html').animate({
  scrollTop : 0                       // Scroll to top of body
  }, 500);
  });

</script>


</body>

</html>