<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Matsgary - Contact</title>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

    <link rel="stylesheet" href="assets/angular-material/angular-material.min.css">

    <script src="assets/angular/angular.min.js"></script>

    <script src="assets/angular-animate/angular-animate.js"></script>

    <script src="assets/angular-aria/angular-aria.min.js"></script>

    <script src="assets/angular-material/angular-material.min.js"></script>

    <script>

      angular.module('MyApp',['ngMaterial'])

        .run(function(){

          console.log('My App is ready');

        })

    </script>



    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/reset.css">

    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/carousel.css">

    

    <link rel="stylesheet" href="assets/css/styles.css">

 



    

</head>


<body style="background: #E9EBEE;">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    
<% include ./partials/nav %>


<div style="margin-top: 200px;margin-left:0px; margin-right: 0px;margin-bottom:290px;text-align:center;">

  <h2 style="color: #000;font-family: Helvetica, Arial, Sans-Serif;">YOUR MESSAGE WAS NOT SENT!</h2>

  <h4 style="color: #000;font-family: Helvetica, Arial, Sans-Serif;">Please Contact through phone or email at the home page</h4>
</div>



<% include ./partials/footer %>


    
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>