<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Matsgary - Contact</title>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

    <link rel="stylesheet" href="assets/angular-material/angular-material.min.css">

    <script src="assets/angular/angular.min.js"></script>

    <script src="assets/angular-animate/angular-animate.js"></script>

    <script src="assets/angular-aria/angular-aria.min.js"></script>

    <script src="assets/angular-material/angular-material.min.js"></script>

    <script>

      angular.module('MyApp',['ngMaterial'])

        .run(function(){

          console.log('My App is ready');

        })

    </script>



    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/reset.css">

    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/css/carousel.css">

    

    <link rel="stylesheet" href="assets/css/styles.css">

 



    

</head>


<body style="background: #E9EBEE;">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    


  <div style="width:100%; margin:0 auto;padding-right:0px;"> <!-- untill bottom -->







  <%- include partials/nav.ejs %>
  <%- include partials/modals.ejs %>



  <section style="margin-top: 200px;">






    <div class="container-fluid">

      <div class="row" style="width:40%; margin:0 auto; padding-top:80px;">
        <div class="col-md-12">
          <h3 style="text-align: center;">Your message has been sent</h3>
        </div>

      </div>



    </div>



  </section>


  <div class="footer" style="bottom: 0px;">
  <%- include partials/footer.ejs %>   
  </div>



</div>



    
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>